
.dugmenazad{

  background-color: #6ECB63;
  color: #FBF4E9;
  margin-top: 40px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px ;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.dugmenazad:hover{
  text-decoration: none;
  background-color: #4a8744;
  color: #FBF4E9;
  border: 2px solid #6ECB63;
}
  .pozadina{
    position: fixed;
    width: 100%;
    z-index: -100;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    }
    .pozadina img{
        height: 100%;
    } 

  .imeprezime{
      display: block;
      width: 100%;
      padding: 20px;
  }
  .ime{
      margin-top: 60px;
      justify-content: flex-start;
      display: flex;
      width: 100%;
      flex-direction: column;
      margin-bottom: 20px;
      color: #6ECB63;
      background-color: #fbf4e9d2;
      padding: 10px;
      border-radius: 20px;
  }
  .text2{
    display: flex;
  }
  
  .slika-edit{
    width: 60px;
    margin-right: 25px;
    fill: #d151a8;
    padding: 0 10px 0 10px;
    margin-top: 2px;
    border-radius: 5px;
  }
  .slika-edit:hover{
    background-color: #b0eca162;
    border: 2px solid #6ECB63;
  }
  
  .text{
    color: #EC9CD3;
    display: flex;
    width: 100%;
  }
  #text-h{
    color: #6ECB63;
  
  }
  .text h4{
    padding: 10px;
    padding-bottom: 20px;
    color: #6ECB63;
    margin-bottom: 0;
  }
  .text h2{
    padding: 10px;
    color: #6ECB63;
    margin-bottom: 0;
  }
  .linija {
    width: 100%;
    color: #EC9CD3;
    background-color: #EC9CD3;
    height: 2px;
    margin:0;
  }
  .div-lekcije{
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
  }
  .lekcije{
      width: 60%;
      background-color:#b0eca190;
      border: 3px solid #6ECB63;
      border-radius: 20px;
      padding: 10px;
  }
  .lekcija{
     width: 95%;
     border-radius: 10px;
     color:#d151a8;
     background-color: #FBF4E9;
     border: 2px solid #6ECB63;
     margin-left: auto;
     margin-right: auto;
     padding: 5px 10px 5px 10px;
     display: flex;
    align-items: normal;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 22px;
  }
  .bodovi{
    display: flex;
    width: 100px;
    margin-right: 5px;
    align-items: center;
    border-left: 2px solid #d151a8;
  }
  .b-text{
    color: #6ECB63;
  }

  .ucenik:hover{
    border: 3px solid #6ECB63;
  }
  .ucenici p{
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  .ukupnib{
      display: flex;
      width: 40%;
      justify-content: center;
      margin-top: 30px;
      color: #EC9CD3;
  }
  
  .div-edit{
    display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 50%;
  position: fixed;
  background-color:#6ECB63;
  border-radius: 20px;
  background: url("../slike/poz.jpg") top right;
  box-shadow: 1px 1px 25px #000000;
  }
  .div-dodaj{
    background-color: #FBF4E9;
    box-shadow: 1px 1px 25px #000000;
    color: #6ECB63;
    justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  }
  

  .x{
    display: flex;
    justify-content: flex-end;
    height: 65px;
    width: 100%;
    padding: 10px 10px 0 0;
    margin-bottom: 5px;
  }
  .x-img img{
    border-radius: 50%;
    height: 55px;
  
  }
  .x-img:hover img{
    background-color: #ec9cd36b;
    border: 3px solid #ec9cd36b;
    border-radius: 50%;
  }
  
  .izmeni{
    padding: 10px;
    background-color: #b0eca154;
    color: #FBF4E9;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 2px solid #6ECB63;
    color: #6ECB63;
  }
  .izmeni p{
    margin-bottom: 0;
  
  }
  
  .izmeni:hover{
    color:  #FBF4E9;
    background-color: #6ECB63;
  }
  
  
  .inputGroup {
      font-family: 'Segoe UI', sans-serif;
      margin: 17px 0 1em 0;
      width: 300px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
  
    }
    
    .inputGroup input {
      font-size: 100%;
      padding: 0.8em;
      outline: none;
      border: 2px #EC9CD3 solid;
      background-color: transparent;
      border-radius: 20px;
      width: 100%;
    }
    
    .inputGroup label {
      font-size: 100%;
      position: absolute;
      left: 0;
      padding: 0.8em;
      margin-left: 0.5em;
      pointer-events: none;
      transition: all 0.3s ease;
      color:#6ECB63;
    }
    
    .inputGroup :is(input:focus, input:valid)~label {
      transform: translateY(-50%) scale(.9);
      margin: 0em;
      margin-left: 1.3em;
      padding: 0.4em;
      background-color: #FBF4E9;
    }
    
    .inputGroup :is(input:focus, input:valid) {
      border-color: #6ECB63;
    }
  
  
    @media (max-width: 900px){
      .div-lekcije{
        display:block ;
      }
    
      .lekcije{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
      .ukupnib{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
      .slika-edit{
        margin-right: 0;
      }
      .imeprezime{
        padding: 10px;
      }
    }
  
    @media (max-width: 500px){
      .div-edit{
        width: 100%;
      }
      .div-dodaj{
        width: 90%;
      }
      .lekcije{
        width: 100%;
      }
      .b-text{
        font-size: 25px;
      }
  
    }