.dodaj-odeljenje{
  background-color: #6dcb63a6;
  border: 3px solid #6ECB63;
  color: #FBF4E9;
  margin-top: 80px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px ;
  font-size: 30px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  height: 70px;
}
.dodaj-odeljenje:hover{
  text-decoration: none;
  background-color: #4a8744;
  color: #FBF4E9;
}

.odeljenja{
    width: 100%;
    margin-top: 20px;
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: #FBF4E9;
}


a:hover{
  text-decoration: none;
}


.card-client {
    background: url("../slike/poz2.jpg") top right;
    width: 400px;
    height: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #6ECB63;
    box-shadow: 1px 1px 25px #000000;
    border-radius: 20px;
    text-align: center;
    color: #FBF4E9;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom:20px ;

  }
  
  .card-client:hover {
    transform: translateY(-10px);
  }
  
  .odeljenje {
    overflow: hidden;
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border: 4px solid #6ECB63;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #ec9cd38c;
  }
  
  .odeljenje h1 {
    font-size: 4.5rem;
  }
  
  .name-client {
   background-color: #ec9cd38c ;
    margin: 0;
    margin-top: 20px;
    font-weight: 200;
    font-size: 16px;
    border-radius: 20px;
    border: 3px solid #6ECB63;
  }
  
  .name-client span {
    display: block;
    font-weight: 600;
    font-size: 18px;
   
  }
  
  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #6ECB63;
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    width: 1.1rem;
    fill: currentColor;
  }
  
  /*-- Tooltip Social Media --*/
  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }

  @media (max-width:600px){
    .card-client{
      width: 270px;
    }
    .dodaj-odeljenje{
      font-size: 25px;
    }
   }