:root{
    --svetla: #e8fade;
    --boja1: #8ef095;
    --boja2: #62ea5b;
    --boja3: #20c26e;
    --boja4: #0a4282;
    --boja5: #009213;
  }

body{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #FBF4E9 ;
    padding: 0;
}

/* ------------------------------------SCROL----------------------- */
::-webkit-scrollbar {
  width: 10px;
  background:#b0eca170;
}

::-webkit-scrollbar-track {
 background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #EC9CD3;
  border-radius: 5px;
}
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

  .nav {
    height: 65px;
    width: 100%;
    background-color: #6ECB63;
    position: fixed;
    border-bottom-left-radius: 20%;
    z-index: 999;
  }
  .nav > .nav-header {
    display: inline;
  }
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #FBF4E9;
    padding: 1px 10px 10px 15px;
  }
  
  .nav > .nav-btn {
    display: none;
    padding: 5px;
  }
  
  .nav > .nav-links {
    display: flex;
    float: right;
    margin-right: 10px;
    margin-left: auto;
    font-size: 18px;
  }

  .navbar {
    color: #FBF4E9;
    text-decoration: none;
    font-size: 20px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }
  
  .navbar::before {
    margin-left: auto;
  }
  
  .navbar::after,   .navbar::before {
    content: '';
    width: 0%;
    height: 2px;
    background:#b0eca1;
    display: block;
    transition: 0.5s;

  }
  
  .navbar:hover::after, .navbar:hover::before {
    width: 100%;
  }
  .navbar:hover{
    color: #EC9CD3;
  }
  .nav > .nav-links > a {
    text-decoration: none;
  } 
 .nav > .nav-links > a:hover {
    text-decoration: none;
    color: #EC9CD3;
  }

  .activ::after,   .activ::before {
    content: '';
    width: 100%;
    height: 2px;
    background:#b0eca1;
    display: block;
    transition: 0.5s;
    color: #EC9CD3;
  }
   .activ {
    color: #f471cb;
  } 
    /**
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }*/
  
  .nav > #nav-check {
    display: none;
 
  }
  
  @media (max-width:800px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: #6ECB63;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #6ECB63;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }


/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

#footer{
  bottom: 0;
  width: 100%;
  position: relative;
  margin-top: 40px;
}
.footer{
  background-color: #6ECB63;
  width: 100%;
  padding: 40px 5% 40px 5%;
  text-align: center;
  margin: 0;
}

.footer h1{
  color: #FBF4E9;
}

.kontakt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.kon{
    margin: 10px;
}

.kon:hover{
    background-color:#FBF4E9 ;
    border-radius:500% ;
    padding: 5px;
}